<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.test.mapper.TStoreInfoMapper">

    <sql id="querySql">
        select <include refid="allField"/>
        from t_store_info A
        <include refid="search"/>
    </sql>

    <select id="queryList" resultType="com.ruoyi.test.domain.TStoreInfo">
        <include refid="querySql"/>
        <if test="entity.storeName != null and entity.storeName != ''">
            and A.store_name like concat('%', #{entity.storeName}, '%')
        </if>
        <if test="entity.picture != null and entity.picture != ''">
            and A.picture like concat('%', #{entity.picture}, '%')
        </if>
        order by A.create_time desc
    </select>

    <select id="queryById" resultType="com.ruoyi.test.domain.TStoreInfo">
        <include refid="querySql"/>
        and A.id = #{id}
    </select>

    <sql id="allField">
        A.id,
        A.store_name,
        A.picture,
        A.create_by,
        A.create_time,
        A.update_by,
        A.update_time,
        A.delete_status
    </sql>

    <sql id="search">
        where A.delete_status = 1
    </sql>
</mapper>
