<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.FoxArticleMapper">

    <resultMap type="com.ruoyi.business.domain.FoxArticle" id="FoxArticleResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="title"    column="title"    />
        <result property="summary"    column="summary"    />
        <result property="note"    column="note"    />
        <result property="content"    column="content"    />
        <result property="click"    column="click"    />
        <result property="kudos"    column="kudos"    />
        <result property="status"    column="status"    />
        <result property="isComment"    column="is_comment"    />
        <result property="isTop"    column="is_top"    />
        <result property="banner"    column="banner"    />
        <result property="categoryId"    column="category_id"    />
        <result property="chapter"    column="chapter"    />
        <result property="notePosition"    column="note_position"    />
    </resultMap>

    <sql id="selectFoxArticleVo">
        select
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        title,
        summary,
        note,
        content,
        click,
        kudos,
        status,
        is_comment,
        is_top,
        banner,
        category_id,
        chapter,
        note_position
        from fox_article
    </sql>

    <select id="selectFoxArticleList" resultType="java.util.Map">
        <include refid="selectFoxArticleVo"/>
        <where>
            <if test="params.title != null  and params.title != ''"> and title = #{params.title}</if>
            <if test="params.click != null "> and click = #{params.click}</if>
            <if test="params.kudos != null "> and kudos = #{params.kudos}</if>
            <if test="params.status != null  and params.status != ''"> and status = #{params.status}</if>
            <if test="params.workId != null "> and work_id = #{params.workId}</if>
            <if test="params.categoryId != null "> and category_id = #{params.categoryId}</if>
        </where>
    </select>

    <select id="selectFoxArticleById" parameterType="Long" resultMap="FoxArticleResult">
        <include refid="selectFoxArticleVo"/>
        where id = #{id}
    </select>
</mapper>
