<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.FoxArticleTagMapper">

    <sql id="querySql">
        select <include refid="allField"/>
        from fox_article_tag A
        <include refid="search"/>
    </sql>

    <select id="queryList" resultType="com.ruoyi.business.vo.FoxArticleTagVo">
        <include refid="querySql"/>
        order by A.create_time desc
    </select>

    <select id="queryById" resultType="com.ruoyi.business.vo.FoxArticleTagVo">
        <include refid="querySql"/>
        and A.id = #{id}
    </select>

    <sql id="allField">
        A.article_id,
        A.tag_id
    </sql>

    <sql id="search">
        where A.delete_status = 1
    </sql>
</mapper>
