<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.FoxCommentMapper">

    <resultMap type="FoxComment" id="FoxCommentResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="email"    column="email"    />
        <result property="content"    column="content"    />
        <result property="metaComment"    column="meta_comment"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectFoxCommentVo">
        select id, create_by, create_time, update_by, update_time, email, content, meta_comment, del_flag from fox_comment
    </sql>

    <select id="selectFoxCommentList" parameterType="FoxComment" resultMap="FoxCommentResult">
        <include refid="selectFoxCommentVo"/>
        <where>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="metaComment != null "> and meta_comment = #{metaComment}</if>
        </where>
    </select>

    <select id="selectFoxCommentById" parameterType="Long" resultMap="FoxCommentResult">
        <include refid="selectFoxCommentVo"/>
        where id = #{id}
    </select>
</mapper>
