<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.FoxCategoryMapper">

    <resultMap type="com.ruoyi.business.domain.FoxCategory" id="FoxCategoryResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="status"    column="status"    />
        <result property="metaCategory"    column="meta_category"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="articleList"    column="article_list"    />
    </resultMap>

    <sql id="selectFoxCategoryVo">
        select id, name, status, meta_category, create_by, create_time, update_by, update_time, remark,del_flag, article_list from fox_category
    </sql>

    <select id="selectFoxCategoryList" resultType="java.util.Map">
        <include refid="selectFoxCategoryVo"/>
        <where>
            AND del_flag = 0
            <if test="params.name != null  and params.name != ''"> and name like concat('%', #{params.name}, '%')</if>
            <if test="params.status != null  and params.status != ''"> and status = #{params.status}</if>
            <if test="params.metaCategory != null "> and meta_category = #{params.metaCategory}</if>
        </where>
    </select>

    <select id="selectFoxCategoryById" parameterType="Long" resultMap="FoxCategoryResult">
        <include refid="selectFoxCategoryVo"/>
        where id = #{id}
    </select>
</mapper>
