<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.FoxCommentMapper">

    <resultMap type="FoxComment" id="FoxCommentResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="email"    column="email"    />
        <result property="content"    column="content"    />
        <result property="metaComment"    column="meta_comment"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="name"    column="name"    />
        <result property="articleId"    column="article_id"    />
    </resultMap>

    <sql id="selectFoxCommentVo">
        select id, create_by, create_time, update_by, update_time, email, content, meta_comment, del_flag, name, article_id from fox_comment
    </sql>

    <select id="selectFoxCommentList" resultType="java.util.Map">
        select
        t.id,
        t.create_by as createBy,
        t.create_time as createTime,
        t.update_by as updateBy,
        t.update_time as updateTime,
        t.email,
        t.content,
        t.meta_comment as metaComment,
        t.del_flag as delFlag,
        t.name,
        t.article_id as articleId
        from `fox_comment` t
        left join fox_article a on a.id = t.article_id
        <where>
            and t.del_flag = 0
            <if test="params.email != null  and params.email != ''"> and t.email = #{params.email}</if>
            <if test="params.content != null  and params.content != ''"> and t.content = #{params.content}</if>
            <if test="params.metaComment != null "> and t.meta_comment = #{params.metaComment}</if>
        </where>
        order by t.create_time
    </select>

    <select id="selectFoxCommentById" parameterType="Long" resultMap="FoxCommentResult">
        <include refid="selectFoxCommentVo"/>
        where id = #{id}
    </select>
</mapper>
