<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.FoxSubscribeMapper">

    <resultMap type="FoxSubscribe" id="FoxSubscribeResult">
        <result property="id"    column="id"    />
        <result property="subscriber"    column="subscriber"    />
        <result property="email"    column="email"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectFoxSubscribeVo">
        select id, subscriber, email, create_time, update_time, del_flag from fox_subscribe
    </sql>

    <select id="selectFoxSubscribeList" resultType="java.util.Map">
        select
        id,
        subscriber,
        email,
        create_time as createTime,
        update_time as updateTime,
        del_flag as delFlag
        from fox_subscribe
        <where>
            and del_flag = 0
            <if test="params.subscriber != null  and params.subscriber != ''"> and subscriber = #{params.subscriber}</if>
            <if test="params.email != null  and params.email != ''"> and email = #{params.email}</if>
        </where>
        order by create_time
    </select>

    <select id="selectFoxSubscribeById" parameterType="Long" resultMap="FoxSubscribeResult">
        <include refid="selectFoxSubscribeVo"/>
        where id = #{id}
    </select>
</mapper>
