<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.FoxSubscribeMapper">

    <resultMap type="FoxSubscribe" id="FoxSubscribeResult">
        <result property="id"    column="id"    />
        <result property="subscriber"    column="subscriber"    />
        <result property="email"    column="email"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="workId"    column="work_id"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectFoxSubscribeVo">
        select id, subscriber, email, create_time, update_time, work_id, del_flag from fox_subscribe
    </sql>

    <select id="selectFoxSubscribeList" parameterType="FoxSubscribe" resultMap="FoxSubscribeResult">
        <include refid="selectFoxSubscribeVo"/>
        <where>
            <if test="subscriber != null  and subscriber != ''"> and subscriber = #{subscriber}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="workId != null "> and work_id = #{workId}</if>
        </where>
    </select>

    <select id="selectFoxSubscribeById" parameterType="Long" resultMap="FoxSubscribeResult">
        <include refid="selectFoxSubscribeVo"/>
        where id = #{id}
    </select>
</mapper>
