<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.FoxTagMapper">

    <resultMap type="FoxTag" id="FoxTagResult">
        <result property="id"    column="id"    />
        <result property="tagName"    column="tag_name"    />
        <result property="metaTag"    column="meta_tag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectFoxTagVo">
        select id, tag_name, meta_tag, create_by, create_time, update_by, update_time, remark, status, del_flag from fox_tag
    </sql>

    <select id="selectFoxTagList" parameterType="FoxTag" resultMap="FoxTagResult">
        <include refid="selectFoxTagVo"/>
        <where>
            <if test="tagName != null  and tagName != ''"> and tag_name like concat('%', #{tagName}, '%')</if>
            <if test="metaTag != null "> and meta_tag = #{metaTag}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectFoxTagById" parameterType="Long" resultMap="FoxTagResult">
        <include refid="selectFoxTagVo"/>
        where id = #{id}
    </select>
</mapper>
