<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.TTestInfoMapper">

    <sql id="querySql">
        select <include refid="allField"/>
        from t_test_info A
        <include refid="search"/>
    </sql>

    <select id="queryList" resultType="com.ruoyi.business.vo.TTestInfoVo">
        <include refid="querySql"/>
        <if test="entity.storeName != null and entity.storeName != ''">
            and A.store_name like concat('%', #{entity.storeName}, '%')
        </if>
        <if test="entity.picture != null and entity.picture != ''">
            and A.picture like concat('%', #{entity.picture}, '%')
        </if>
        order by A.create_time desc
    </select>

    <select id="queryById" resultType="com.ruoyi.business.vo.TTestInfoVo">
        <include refid="querySql"/>
        and A.id = #{id}
    </select>

    <insert id="saveEntity" parameterType="com.ruoyi.business.vo.TTestInfoVo">
        insert into t_test_info(store_name, picture) values (#{entity.storeName}, AES_ENCRYPT(#{entity.picture}, 'ruoyi-vue-service@123456'));
    </insert>

    <select id="getEntityById" resultType="com.ruoyi.business.vo.TTestInfoVo">
        select A.id,
               A.store_name,
               AES_DECRYPT(A.picture, 'ruoyi-vue-service@123456') picture,
               A.create_by,
               A.create_time,
               A.update_by,
               A.update_time,
               A.delete_status
        from t_test_info A
        where A.delete_status = 1 and A.id = #{id}
    </select>

    <sql id="allField">
        A.id,
        A.store_name,
        A.picture,
        A.create_by,
        A.create_time,
        A.update_by,
        A.update_time,
        A.delete_status
    </sql>

    <sql id="search">
        where A.delete_status = 1
    </sql>
</mapper>
